@import '../../../styles/shareds.scss';

$this: 'app-header';

header {
  &.is-#{$this} {
    padding: 1.25rem 0;
    border-bottom: 1px solid $gray-10;
    .#{$this} {
      &--columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__item {
          &.is-right {
            display: flex;
            flex-wrap: wrap;
            a {
              display: block;
              color: $gray-2;
              margin-left: 0.75rem;
            }
          }
        }
      }
      &--logo {
        display: block;
        color: #fff;
        text-decoration: none;
        svg {
          display: block;
          height: 1.5rem;
          width: auto;
        }
      }
    }
  }
}
